@import "tailwindcss";


@theme inline {

  /* Colors */
  --color-accent: #ed6c5e;
  --color-bg-color: #020617;

  /* Fonts */
  --font-montserrat: 'Montserrat', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-jetbrainsmono: 'JetBrains Mono', monospace;
}

